@import 'root.css';
@import 'blocks/burger.css';
@import 'blocks/divider.css';

.stop-scroll {
    overflow: hidden;
}

.purple-bg {
    background-color: var(--purple);
}

.hero {
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 85rem;
}

.hero-desc {
    margin: auto 0;
    max-width: 50rem;
}

.hero-img {
    margin-top: auto;
    height: 60rem;
}

.download {
    display: flex;
    gap: 2rem;
}

.download img {
    width: 15rem;
}


#landing {
    gap: 10rem;
}

#product {
    gap: 15rem;
}

#traveller {
    height: 65rem;
}

#binoculars {
    height: 68rem;
}

#thumbnail {
    height: 75rem
}

@media screen and (max-width: 80rem) {
    .hero {
        text-align: center;
        padding: 12rem 2rem;
        min-height: 30rem;
    }

    .hero-img {
        position: absolute;
        bottom: 1.5rem;
    }

    .hero-desc {
        max-width: 34rem;
    }

    .hero-title {
        margin-top: -5rem;
    }

    .download {
        justify-content: center;
    }

    .download img {
        width: 13rem;
    }

    #landing {
        min-height: 35rem;
    }

    #traveller {
        height: 15rem;
        right: 2rem;
    }

    #binoculars {
        height: 15rem;
        left: 2rem;
    }

    #thumbnail {
        display: none;
    }
}

/* ========================
            @HEADER
   ======================== */

header {
    display: flex;
    background-color: white;
    align-items: center;
    position: fixed;
    height: 9rem;
    width: 100%;
    z-index: 999;
}

.logo {
    cursor: pointer;
}

.header-left {
    position: fixed;
    align-items: center;
    height: 9rem;
    margin-left: 8rem;
    z-index: 999;
}

.header-right {
    position: fixed;
    align-items: center;
    margin-right: 8rem;
    height: 9rem;
    right: 0;
    z-index: 999;
}

.nav {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: white;
    transition: max-height .2s, box-shadow .2s;
    overflow: hidden;
    padding-left: 30rem;
    min-height: 9rem;
    width: 100%;
    gap: 5rem;
    z-index: 999;
}

.nav a {
    transition: color .3s ease;
    color: var(--purple);
    text-align: center;
}

.nav a:hover {
    color: var(--yellow);
}

@media screen and (max-width: 80rem) {
    .header-left {
        margin-left: 4rem;
    }

    .header-right {
        margin-right: 1rem;
    }

    .burger {
        display: inline;
    }

    .nav {
        flex-direction: column;
        max-height: 9rem;
        padding: 0;
        right: 0;
        left: 0;
        gap: 0;
    }

    .nav a {
        width: 100%;
        padding: 2.5rem 0;
    }

    .nav a:first-child {
        padding-top: 4rem;
    }

    .nav a:last-child {
        padding-bottom: 10rem;
    }
}

/* ========================
          @TECH HERO
   ======================== */

#tech>div {
    margin: 0 auto;
}

#tech h1 {
    margin: 0 0 4rem auto;
}

.tech-cards {
    display: flex;
    gap: 6rem;
}

.tech-card {
    border-radius: 40px;
    align-items: center;
    text-align: center;
    width: 35rem;
    height: 50rem;
}

.tech-card h3 {
    color: black;
    max-width: 22rem;
    margin-top: 2rem;
}

.tech-card img {
    margin: auto 0;
    max-width: 35rem;
    max-height: 30rem;
}

@media screen and (max-width: 80rem) {
    #tech h1 {
        margin: -5rem 0 2rem 0;
    }

    .tech-cards {
        flex-direction: column !important;
        gap: 0;
    }

    .tech-card {
        height: 40rem;
    }

    .tech-card h3 {
        margin-top: 4rem;
    }

    .tech-card img {
        max-height: 25rem;
        max-width: 28rem;
    }
}

@media screen and (max-width: 35rem) {
    #tech>div {
        margin: 0
    }

    .tech-card {
        width: 100% !important;
    }
}

/* ===============================
              @TEAM HERO
   =============================== */

#team {
    align-items: center;
}

#team h1 {
    padding-bottom: 3rem;
    margin-top: -5rem;
}

#team>div {
    gap: 10rem;
}

.member {
    align-items: center;
    text-align: center;
    max-width: 35rem;
}

/* member full name */
.member h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 2rem;
}

/* member position */
.member h3 {
    color: var(--yellow);
    margin-bottom: 2rem;
    font-weight: 500;
}

/* member profile photo */
.member img {
    width: 30rem;
}

@media screen and (max-width: 80rem) {
    #team>div {
        flex-direction: column !important;
        gap: 5rem;
    }

    #team h1 {
        padding-bottom: 0;
    }

    .member {
        max-width: 25rem;
    }

    .member img {
        width: 25rem;
    }
}

/* ===============================
            @CONTACT HERO
   =============================== */

#contact {
    margin: 0 auto;
}

#contact>div {
    gap: 30rem;
    margin-top: auto;
}

#contact h1 {
    margin: 10rem 0 5rem auto;
}

#contact h2 {
    font-weight: 600;
    color: black;
}

#contact h3 {
    color: black;
}

/* contact us information */
.info-list {
    gap: 5rem;
    text-align: center;
    margin-top: 5rem;
}

/* text before .info */
.info-intro {
    max-width: 28rem;
    font-weight: 500;
}

/* location & main us sections */
.info {
    gap: 1.5rem;
    text-align: start;
    margin-left: 2.5rem;
}

.info>div {
    align-items: center;
    gap: 1rem;
}

.info img {
    width: 3.5rem;
    height: 3.5rem;
}

@media screen and (max-width: 80rem) {
    #contact h1 {
        margin: -5rem 0 5rem 0;
    }

    .info-intro {
        margin: 0 auto;
    }

    .info {
        text-align: center;
        margin: 0 auto;
    }

    .info>div {
        justify-content: center;
        gap: 1rem;
    }

    .info img {
        width: 3rem;
        height: 3rem;
    }

    .info-list {
        margin: 0;
    }
}

/* ========================
            @FOOTER
   ======================== */

footer {
    display: flex;
    background-color: var(--purple);
    padding: 7rem 0;
    color: white;
    justify-content: center;
    gap: 3rem;
}

footer p {
    text-align: center;
    max-width: 50rem;
    font-weight: 500;
    width: 40%;
}

@media screen and (max-width: 80rem) {
    footer {
        flex-direction: column;
        padding: 6rem 8rem;
    }

    footer p {
        margin: 0 auto;
        width: 100%;
    }
}